acres==0.5.0
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-generator==1.10
async-lru
asyncssh
atomicwrites==1.4.0
attrs
Automat
autopep8
babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis==1.3.0
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
catalogue==2.0.10
certifi==2026.1.4
cffi
chardet
charset-normalizer
ci-info==0.3.0
click
cloudpathlib==0.22.0
cloudpickle
colorama
colorcet
comm
configobj==5.0.9
configparser==7.2.0
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cymem==2.0.11
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
docx2txt==0.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile
etelemetry==0.3.1
evalidate
executing
fastjsonschema
filelock
fitz==0.0.1.dev2
flake8
Flask
flask-cors==6.0.2
fonttools
fpdf2==2.8.7
frozendict
frozenlist
fsspec
fuzzywuzzy==0.18.0
gensim==4.4.0
gitdb
GitPython
gmpy2
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
greenlet
groq==1.0.0
grpcio==1.76.0
grpcio-status==1.71.2
h11
h5py
HeapDict
holoviews
httpcore
httplib2==0.31.0
httpx
huggingface-hub==0.36.0
hvplot
hyperlink
idna
imageio
imagesize
imbalanced-learn
importlib_metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keyring
kiwisolver
langcodes==3.5.0
language_data==1.3.0
lazy_loader
lckr_jupyterlab_variableinspector
Levenshtein==0.27.3
libarchive-c
libmambapy
lief
linkify-it-py
llvmlite
lmdb
locket
looseversion==1.3.0
lxml==5.3.0
lz4
marisa-trie==1.3.1
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
more-itertools
mpmath
msgpack
multidict
multipledispatch
murmurhash==1.0.13
mypy
mypy_extensions
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nibabel==5.3.2
nipype==1.10.0
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
opencv-python-headless==4.12.0.88
openpyxl
outcome==1.3.0.post0
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib==1.0.1
pathspec
patsy
pdfminer.six==20250506
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
poyo
preshed==3.0.10
prometheus_client
prompt_toolkit
propcache
Protego
proto-plus==1.26.1
protobuf
prov==2.1.1
psutil
ptyprocess
pure-eval
puremagic==1.30
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pycryptodome==3.23.0
pyct
pycurl
pydantic
pydantic-settings
pydantic_core
PyDispatcher
pydocstyle
pydot==4.0.1
pyerfa
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyMuPDF==1.26.6
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
pyresparser==1.0.6
pyrsistent==0.20.0
PySocks
pytesseract==0.3.13
pytest
python-dateutil
python-docx==1.2.0
python-dotenv
python-json-logger
python-Levenshtein==0.27.3
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyuca
pyviz_comms
PyWavelets
pyxnat==1.6.4
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
RapidFuzz==3.14.3
rdflib==7.4.0
readchar
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339_validator
rfc3986_validator
rich
roman-numerals-py
rope
rpds-py
rsa==4.9.1
Rtree
ruamel.yaml
ruamel.yaml.clib
ruamel_yaml_conda
s3fs
safetensors==0.6.2
scikit-image
scikit-learn
scipy
Scrapy
seaborn
selenium==4.40.0
semver
Send2Trash
sentence-transformers==5.1.2
service-identity
setuptools==72.1.0
shap==0.51.0
shellingham
simplejson==3.20.2
sip
six
sklearn-compat
slicer==0.0.8
smart_open==7.3.1
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly==2.5.1
stack-data
statsmodels
streamlit
superqt
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
thinc==8.3.6
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.22.1
toml
tomli
tomlkit
toolz
torch==2.9.0
torchaudio==2.9.0
torchvision==0.24.0
tornado
tqdm
traitlets
traits==7.0.2
transformers==4.57.1
trio==0.33.0
trio-typing==0.10.0
trio-websocket==0.12.2
truststore
Twisted
twisted-iocpsupport
typer
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing_extensions==4.15.0
tzdata
uc-micro-py
ujson
Unidecode
uritemplate==4.2.0
urllib3==2.6.3
w3lib
wasabi==1.1.3
watchdog
wcwidth
weasel==0.4.1
webdriver-manager==4.0.2
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.45.1
widgetsnbextension
wrapt
wsproto==1.3.2
xarray
xgboost==3.2.0
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
